/* Setting up our grid */
.container {
	width: 100%; /*Set the width of the entire website here */
	margin-right: auto;
	margin-left: auto; /* Margin-left and right are set to auto to center the container */
}
.seven:first-child,.eight:first-child, .nine:first-child, .ten:first-child,.eleven:first-child,.five:first-child, .four:first-child, .three:first-child, .two:first-child, .one:first-child, .six:first-child { 
	margin-left: 0; /* This line of code makes the left-most column align to the left of the screen */
}
.eleven {
	width: 91.5%;
	float: left;
	margin-left: 2%;
}
.ten {
	width: 83%;
	float: left;
	margin-left: 2%;
}
.nine {
	width: 74.5%;
	float: left;
	margin-left: 2%;
}
.eight {
	width: 66%;
	float: left;
	margin-left: 2%;
}
.seven {
	width: 57.5%;
	float: left;
	margin-left: 2%;
}
.six {
	width: 49%; /* This div spans six columns (the entire row)*/
	float: left;
	margin-left: 2%;
}
.five {
	width: 40.5%; /* This div spans five columns */
	margin-left: 2%;
	float:left;
}
.four {
	width: 32%;
	float:left;
	margin-left: 2%;
}
.three {
	width: 23.5%;
	float:left;
	margin-left: 2%;
}
.two {
	width: 15%;
	float:left;
	margin-left: 2%;

}
.one {
	width: 6.5%;
	float:left;
	margin-left: 2%;
}
.row {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
}

header {
	height: 73px;
	background-color: #d13328;
}
.hero-image {
	height: 510px;
  	background: url(image1.jpg) no-repeat center center fixed; 
}

.row3 .six, .row3 .three {
	height: 333px;
	background-color: #F89406;
}
.row4 .six, .row4 .three {
	height: 333px;
	background-color: #F9690E;
}
.row5 .six, .row5 .three {
	height: 333px;
	background-color: #FDE3A7;
}
.row6 .six, .row6 .three {
	height: 333px;
	background-color: #F27935;
}
.last {
	height: 73px;
	background-color: #d13328;
}
footer {
	height: 443px;
	background-color: #FDE3A7;
}
